@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inheri t;
}

/*--------------------*/
body {
  min-height: 100%;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(white), to(#4357c4));
  background: linear-gradient(left, white, #4357c4);
}

.calculator {
  margin: 0 auto;
  max-width: 370px;
  height: 500px;
  position: relative;
  top: 25%;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#4357c4), to(white));
  background: linear-gradient(left, #4357c4, white);
  border-radius: 15px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.output {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  padding: 0.75rem;
  border: 1px solid #fff;
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
  font-weight: bold;
  background: #5a48c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}

.output__upper {
  font-size: 1.5rem;
}

.output__under {
  font-size: 2.5rem;
}

.buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttons button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #5a48c0;
  border: 1px solid #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 25%;
          flex: 1 25%;
}

.buttons button:hover {
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 3px solid #644a77;
  color: #644a77;
}

.buttons button.two {
  color: #720a97;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.buttons .bor-rad-right {
  border-radius: 0 0 1rem 0;
}

.buttons .bor-rad-left {
  border-radius: 0 0 0 1rem;
}

.row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
